{{extend 'layout.html'}}

{{block head}}

<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var memos_url = "{{=URL('api', 'get_memos')}}";
    var add_memo_url = "{{=URL('api', 'add_memo', user_signature=True)}}";
    var del_memo_url = "{{=URL('api', 'delete_memo', user_signature=True)}}";
    var edit_memo_url = "{{=URL('api', 'edit_memo', user_signature=True)}}";
    var toggle_memo_url = "{{=URL('api', 'toggle_visibility', user_signature=True)}}";
</script>

{{end}}

<div class="main_content">

    <div id="vue-div" class="display:none">
        <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->

        <!-- Form to add memos -->
        <div v-if="is_adding_memo" id="add_memo_div">
            <form action="#" v-on:submit.prevent class="form-horizontal" enctype="multipart/form-data" method="post">
                <div class="form-group" id="no_table_title__row">
                    <div>
                        <input class="form-control string" id="no_table_title" v-model="form_title" placeholder="Title" type="text" />
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group" id="no_table_memo__row">
                    <div>
                        <input class="form-control string" id="no_table_memo" name="memo" type="text" v-model="form_memo" placeholder="memo"/>
                        <span class="help-block"></span>
                    </div>
                </div>
            </form>
        </div>
        <!-- Add buttons -->
        <div class="button_bar">
            <div v-if="!logged_in">
                <button v-if="!is_adding_memo" class="btn gray rounded">
                    <i class="fa fa-plus"></i> Add
                </button>
            </div>
            <div v-else>
                <button v-if="!is_adding_memo" class="btn red rounded"
                        v-on:click="add_memo_button()"
                        :disabled="!logged_in"
                        v-bind:class="{'disabled': !logged_in}">
                    <i class="fa fa-plus"></i> Add
                </button>
                <button v-if="is_adding_memo" class="btn red rounded" v-on:click="add_memo()">
                    <i class="fa fa-plus"></i> Add
                </button>
                <button v-if="is_adding_memo" class="btn rounded" v-on:click="add_memo_button()">
                    <i class="fa fa-times"></i> Close
                </button>
            </div>
        </div>

        <!-- Code to display the table of memos -->
        <div class="result_table">
            <div class="memo_table">
                <div v-for="memo in memos">
                    <div class="memo">
                        <div class="memo_text">

                            <!-- Form to edit memos -->
                            <div v-if="is_editing_memo" id="edit_memo_div">
                                <div v-if="memo.id == selected_id">
                                    <form action="#" v-on:submit.prevent class="form-horizontal" enctype="multipart/form-data" method="post">
                                        <div class="form-group" id="no_table_title__row">
                                            <div>
                                                <input class="form-control string" id="no_table_title" name="edit_title" v-model="form_edit_title" type="text" />
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <div class="form-group" id="no_table_memo__row">
                                            <div>
                                                <input class="form-control string" id="no_table_memo" name="edit_memo" v-model="form_edit_memo" type="text" />
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- Edit buttons -->
                                    <div class="button_bar">
                                        <button v-if="is_editing_memo" class="btn red rounded" v-on:click="edit_memo(memo._idx)">
                                            <i class="fa fa-plus"></i> Save
                                        </button>
                                        <button v-if="is_editing_memo" class="btn rounded" v-on:click="edit_memo_button(memo._idx)">
                                            <i class="fa fa-times"></i> Cancel
                                        </button>
                                    </div>
                                </div>
                                <div v-else>
                                    <div class="memo_title">${memo.title}</div>
                                    <div class="memo_content">${memo.memo}</div>
                                </div>
                            </div>
                            <div v-else>
                                <div class="memo_title">${memo.title}</div>
                                <div class="memo_content">${memo.memo}</div>
                            </div>

                            <div class="button_list">
                                <div class="buttons">

                                {{if auth.user is not None:}}
                                    <div v-if="memo.user_email == '{{=auth.user.email}}'">
                                        <button class="btn rounded" v-on:click="edit_memo_button(memo._idx)">
                                            <i class="fa fa-edit fa-lg"></i>
                                        </button>
                                        <button class="btn rounded red" v-on:click="delete_memo(memo._idx)">
                                            <i class="fa fa-trash fa-lg"></i>
                                        </button>
                                        <button v-if="memo.is_public == true" class="btn rounded" v-on:click="toggle_visibility(memo._idx)">
                                            <i class="fa fa-users fa-lg"></i>
                                        </button>
                                        <button v-if="memo.is_public == false" class="btn rounded" v-on:click="toggle_visibility(memo._idx)">
                                            <i class="fa fa-user fa-lg"></i>
                                        </button>
                                    </div>
                                    <div v-else>
                                        <div class="buttons">
                                            <button class="btn rounded gray">
                                                <i class="fa fa-edit fa-lg"></i>
                                            </button>
                                            <button class="btn rounded gray">
                                                <i class="fa fa-trash fa-lg"></i>
                                            </button>
                                            <button v-if="memo.is_public == true" class="btn rounded gray">
                                                <i class="fa fa-users fa-lg"></i>
                                            </button>
                                            <button v-if="memo.is_public == false" class="btn rounded gray">
                                                <i class="fa fa-user fa-lg"></i>
                                            </button>
                                        </div>
                                    </div>

                                {{else:}}
                                    <div class="buttons">
                                        <button class="btn rounded gray">
                                            <i class="fa fa-edit fa-lg"></i>
                                        </button>
                                        <button class="btn rounded gray">
                                            <i class="fa fa-trash fa-lg"></i>
                                        </button>
                                        <button v-if="memo.is_public == true" class="btn rounded gray">
                                            <i class="fa fa-users fa-lg"></i>
                                        </button>
                                        <button v-if="memo.is_public == false" class="btn rounded gray">
                                            <i class="fa fa-user fa-lg"></i>
                                        </button>
                                    </div>

                                {{pass}}

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div v-if="has_more" class="show_more">
                <button class="btn btn-default rounded" v-on:click="get_more()">
                    <i class="fa fa-ellipsis-h"></i>
                    Load more
                </button>
            </div>
        </div>


    </div>

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
