{{extend 'layout.html'}}

{{block head}}

<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script src="{{=URL('static', 'js/math.js')}}"></script>
<script>
    // Define your URLs here.
    var add_matrix_url = "{{=URL('api', 'add_matrix')}}";
    var parse_string_url = "{{=URL('api', 'parse_string')}}";
    var get_matrix_url = "{{=URL('api', 'get_matrix')}}";
</script>


{{end}}

<div class="main_content">

    <div id="vue-div" class="display:none">
        <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->

        <div class="container padded">

            <div class="mat3d">
                <b>[MAT3D]</b>

                <!-- Toggle button between 2D and 3D mode -->
                <button v-if="!is_3D" class="btn rounded" v-on:click="is_3D_button()">
                    2D Mode
                </button>
                <button v-if="is_3D" class="btn blue rounded" v-on:click="is_3D_button()">
                    3D Mode
                </button>
            </div>

            <div class="matrices quarter container">
                <!-- Left part of the page -->

                <!-- Form to add matrices -->
                <div v-if="is_adding_matrix" id="add_matrix_div">
                    <form action="#" v-on:submit.prevent class="form-horizontal" enctype="multipart/form-data" method="post">
                        <div class="form-group" id="no_table_name__row">
                            <div>
                               Matrix Name: <input class="form-control string" id="no_table_name" v-model="form_name" placeholder="Name" type="text" />
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group" id="no_table_rowsize__row">
                            <div>
                                Rows: <input class="form-control string" id="no_table_row" name="row" type="number" v-model="form_row" placeholder="1" min="1" />
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group" id="no_table_colsize__row">
                            <div>
                                Columns:<input class="form-control string" id="no_table_col" name="col" type="number" v-model="form_col" placeholder="1" min="1" />
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Add buttons -->
                <div class="button_bar">
                    <div>
                        <button v-if="!is_adding_matrix" class="btn red rounded" v-on:click="add_matrix_button()">
                            <i class="fa fa-plus"></i>  Add Matrix
                        </button>
                        <button v-if="is_adding_matrix" class="btn red rounded" v-on:click="add_matrix()">
                            <i class="fa fa-plus"></i> Add
                        </button>
                        <button v-if="is_adding_matrix" class="btn rounded" v-on:click="add_matrix_button()">
                            <i class="fa fa-times"></i> Close
                        </button>
                    </div>
                </div>

                <!-- Display saved matrices -->
                <table class="fill" id="matrix_selector">
                    <tbody v-for="matrix in matrices">
                        <tr class="center">
                            <th v-on:click="get_this_matrix(matrix._idx)">
                                ${matrix.name} ${matrix._idx} (${matrix.row} x ${matrix.col})
                                <button class="btn rounded red"
                                        v-on:click="delete_matrix(matrix._idx)">
                                    <i class="fa fa-trash fa-lg"></i>
                                </button>
                            </th>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div class="matrix_space threequarters container">
                <!-- Right part of the page -->

                <div class=" matrix_parser">

                    <!-- Form to add matrix parser text -->
                    <div id="add_parsertext_div">
                        <form action="#" v-on:submit.prevent class="form-horizontal" enctype="multipart/form-data" method="post">
                            <div class="form-group" id="no_table_parsertext__row">
                                <div>
                                    Input:  <input class="form-control string" id="no_table_parsertext" v-model="form_parsertext" placeholder="type an equation..." type="text" />
                                    <span class="help-block"></span>
                                </div>

                                <br/>

                                <div>
                                    <button class="btn green rounded" v-on:click="parse_string">
                                        <i class="fa fa-calculator" aria-hidden="true"></i> Compute
                                    </button>
                                </div>

                                ${return_message}
                            </div>
                        </form>
                    </div>

                </div>

                <br/>

                <div class="matrix_array twothirds">

                    <div v-if="!is_populating_matrix">

                        <table id="retrieved_data_matrix">
                            <h5>${populate_matrix_name}</h5>
                            <br/>
                            <tr v-for="matrix_row in one_matrix">
                                <td v-for="matrix_col in matrix_row">
                                    ${matrix_col}
                                </td>
                            </tr>
                        </table>

                    </div>

                    <div v-if="is_populating_matrix">

                        <form action="#" v-on:submit.prevent class="form-horizontal" enctype="multipart/form-data" method="post">
                            <table id="data_matrix">
                                <h5>${populate_matrix_name}</h5>
                                <br/>
                                <tr v-for="rows in populate_rows">
                                    <td v-for="cols in populate_cols" contenteditable='true'>

                                    </td>
                                </tr>
                            </table>

                            <br/>

                            <button class="btn green rounded" v-on:click="add_data_matrix">
                                <i class="fa fa-check fa-lg"></i> Submit
                            </button>
                        </form>

                    </div>

                </div>

                <div class="matrix_buttons third container">

                    <div class="half">
                        <div class="matrix_function_buttons">
                            <button v-on:click="determinant()">
                                Determinant
                            </button>
                            <button v-on:click="inverse()">
                                Inverse
                            </button>
                            <button v-on:click="transpose()">
                                Transpose
                            </button>
                            <button v-on:click="lu_decomposition()">
                                LU-Decomposition
                            </button>
                            <button v-on:click="rank()">
                                Rank
                            </button>
                            <button v-on:click="cholesky_decomposition()">
                                Cholesky-Decomposition
                            </button>
                        </div>
                        <div class="other_function_buttons">
                            <button v-on:click="absolute_value()">
                                |  |
                            </button>
                            <button v-on:click="log_base_10()">
                                log<sub>10</sub>
                            </button>
                            <button v-on:click="natural_log()">
                                ln
                            </button>
                            <button v-on:click="square_root()">
                                &radic;
                            </button>
                        </div>
                    </div>

                    <div class="half">
                        <div class="trig_function_buttons">
                            <button v-on:click="sine()">
                                sin
                            </button>
                            <button v-on:click="cosine()">
                                cos
                            </button>
                            <button v-on:click="tangent()">
                                tan
                            </button>
                        </div>
                        <div class="inverse_trig_function_buttons">
                            <button v-on:click="arcsine()">
                                sin<sup>-1</sup>
                            </button>
                            <button v-on:click="arccosine()">
                                cos<sup>-1</sup>
                            </button>
                            <button v-on:click="arctangent()">
                                tan<sup>-1</sup>
                            </button>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

<script src="{{=URL('static', 'js/default_index2.js')}}"></script>
