/**
Name: Zoe Tacderas
UCSC email: stacdera@ucsc.edu
File name: mat3d.css
*/

/*
Cloned from:
https://www.w3schools.com/html/tryit.asp?filename=tryhtml_table_intro
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_button_group_vertical
*/

/* ============ Used in index.html ============ */
.mat3d {
    font-size: 36px;
    color: #16b859;
}

.mat3d_btns {
    margin:0 0.5em 0.5em 0;
}

#toggle-btn {
    float: right;
}

.matrices {
    padding: 10px;
    border: black 5px;
    border-style: solid;
}

.matrix_parser {
    margin-left: 10px;
    padding: 10px;
    border: black 5px;
    border-style: solid;
}

.matrix_array {
    margin-left: 10px;
    padding: 30px;
    border: black 5px;
    border-style: solid;
}

.matrix_function_buttons button {
    float: right;
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 14px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 80%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
}

.matrix_function_buttons button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.matrix_function_buttons button:hover {
    background-color: #3e8e41;
}

.other_function_buttons button {
    float: right;
    background-color: #af4e4c; /* Red background */
    border: 1px solid red; /* Red border */
    color: white; /* White text */
    padding: 10px 14px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 80%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
}

.other_function_buttons button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.other_function_buttons button:hover {
    background-color: #8e3f3e;
}

.trig_function_buttons button {
    margin-right: 15px;
    float: right;
    background-color: #af7f4c; /* Brown background */
    border: 1px solid brown; /* Brown border */
    color: white; /* White text */
    padding: 10px 14px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 80%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
}

.trig_function_buttons button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.trig_function_buttons button:hover {
    background-color: #8e673e;
}

.inverse_trig_function_buttons button {
    margin-right: 15px;
    float: right;
    background-color: #4e4caf; /* Purple background */
    border: 1px solid blue; /* Blue border */
    color: white; /* White text */
    padding: 10px 14px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 80%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
}

.inverse_trig_function_buttons button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.inverse_trig_function_buttons button:hover {
    background-color: #3f3e8e;
}

#sqrt-btn-1 {
    white-space: nowrap;
    font-size:larger;
}

#sqrt-btn-2 {
    text-decoration:overline;
}

.current_matrix {
    font-family: arial, sans-serif;
    border-collapse: separate;
    width: 50%;
}

td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 15px;
}

/* ============ Used in layout.html ============ */
#copyright {
    text-align: center;
    color: white;
}
