/*
Cloned from:
https://www.w3schools.com/html/tryit.asp?filename=tryhtml_table_intro
*/

/* ============ Used in index.html ============ */
.mat3d {
    font-size: 36px;
    color: #16b859;
}

.matrices {
    padding: 10px;
    border: black 5px;
    border-style: solid;
}

.matrix_parser {
    margin-left: 10px;
    padding: 10px;
    border: black 5px;
    border-style: solid;
}

.matrix_array {
    margin-left: 10px;
    padding: 30px;
    border: black 5px;
    border-style: solid;
}

.current_matrix {
    font-family: arial, sans-serif;
    border-collapse: separate;
    width: 50%;
}

td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 15px;
}

/* ============ Used in layout.html ============ */
#copyright {
    text-align: center;
    color: black;
}
